
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}


.header {
  background-color: #1f2933;   /* dark clean color */
  color: white;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-title {
  font-size: 22px;
  font-weight: bold;
}

.header-nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-size: 14px;
}

.header-nav a:hover {
  text-decoration: underline;
}
